body{
  font-family: "Times New Roman", Times, serif;

}
.serif{
  font-family: "Times New Roman", Times, serif;
}

.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
  text-align: center;
}

.mdl-data-table th {
    text-align: center;
}


.mdl-data-table td {
    text-align: center;
}

.mdl-data-table .th-sortTableById::before  {
  cursor: pointer;
}
